
.new {
	color: red;
}
.block {
	font-size: 14px;
	color: white;
	background: blue;
	height: 70px;
	width: 90px;
	margin-bottom: 100px;
}
.block1 {
    color: white;
	background: green;
	padding: 5px;
} 
.block2 {
	color: white;
	background: green;
	padding: 60px;
}
li {
	font-size: 28px;
	border: 1px solid black;
}
